<div class="container-fluid">
  <p class="h3 p-3">{{ conferenciaDetail.name }}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
    </div>
    <div class="col">
      <dl>
        
        <dt>Starting</dt>
        <dd>{{ conferenciaDetail.starting }}</dd>
        <hr />
        <dt>Ending</dt>
        <dd>{{ conferenciaDetail.ending }}</dd>
        <hr />
        <dt>Venue</dt>
        <dd>{{ conferenciaDetail.venue }}</dd>
        <hr />
        <dt>Description</dt>
        <dd>{{ conferenciaDetail.description }}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>